@media (max-width: 992px) {
    .header {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    .promo__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

@media (max-width: 900px) {
    .catalog__content {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__logo {
            width: 200px;
        }
        &__contacts {
            align-items: center;
            }
            &__phone {
            display: block;
            text-align: center;
            font-size: 14px;
            }
        &__official {
        span {
            font-size: 14px;
            }
        }     
    }
    .promo {
        &__header {
        font-size: 34px;
        }
        &__subheader {
            font-size: 20px;
        }
    }

    .review__items {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .review__text {
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }

.carousel__inner_img {
    width: 100vw;
}
}
@media (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            width: 250px;
        }
        &__official {
            margin-top: 15px;
            font-size: 16px;
            span {
                font-size: 18px;
                }
            }
        &__contacts {
            margin-top: 15px;
            }
            &__phone {
            font-size: 18px;
            }
    } 
    .promo {
        padding-bottom: 25px;
        &__wrapper {
                margin-top: 40px;
            }
        &__header {
            text-align: center;
            font-size: 30px;
            line-height: 36px;
        }   
        &__subheader {
            text-align: center;
            margin-top: 12px;
        }         
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
        }      
        &__icon {
            img {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .button {
            &__main {
                margin-top: 30px;
            }
        }
    .advantages {
        padding: 25px 0 15px 0;
        &__wrapper {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__header {
            font-size: 24px;
        }
    }
    .consultation {
        padding-top: 20px;
        &__descr {
            text-align: center;
        }
        &__form {
            display: flex;
            justify-content: center;
        }
    .title {
        font-size: 24px;
        line-height: 34px;
        text-align: center;
    }
    }
}

@media (max-width: 500px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 400px;
        &__close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 40px;
            color: #C70101;
            line-height: 20px;
            cursor: pointer;
        }
    }
}     


